html, body {
	height:100%;
}

.site-header {
	position: relative;
	background: url(https://azizsohibov.github.io/images/bg_top_rep.png) 100% 100% repeat-x;
	min-height: 850px;
}
.site-header:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(https://azizsohibov.github.io/images/bg_top.jpg) 100% 100% no-repeat;
}
.navbar {
	width: 100%;
}
